{% extends "base.html"%}

{% block title %}
GlobalAnime - {{header}}
{%endblock%}

{% block animelist%}
<div class="lisbox22">
    <div class="block-header">
        <h1 class="gh-title">{{header}}</h1>
        <div class="cleft"></div>
    </div>
    <div class="cleft"></div>
    <script type="text/javascript">
        var order_by = 'latest';
        $('.order').click(function () {
            $('.order').removeClass('active');
            $(this).addClass('active');
            order_by = $(this).attr('data-order');
        });
    </script>
    <div class="cleft"></div>
    <div class="similarboxmain">
        <div class="similarbox">
            {%for anime in animes%}
            <a class="an" title="{{anime.name}}" href="/detail/{{anime.slug}}-{{anime.id_api}}">
                <div class="similarcmain">
                    <div class="similarc">
                        <div class="similarpic"
                            style="background-image: url({{anime.coverImage}});">
                            <img class="coveri hd"
                                src="{{anime.coverImage}}"
                                alt="{{anime.name}}">
                        </div>
                        <div class="similard">
                            <div class="similardd">{{anime.name}}</div>
                        </div>
                    </div>
                </div>
            </a>
            {%endfor%}
        </div>
    </div>
    <div class="cleft"></div>
    {%if page != totalPages%}
    <a class="morean" href="/anime-list/{{next}}">
        <div class="more">Show More</div>
     </a>
    {%endif%}
    <div class="cleft"></div>
</div>
{%endblock%}