{% extends "base.html"%}

{% block title %}
GlobalAnime - {{header}}
{%endblock%}

{% block animelist%}
<div class="lisbox22">
    <div class="block-header">
        <h1 class="gh-title">{{header}}</h1>
        <div class="cleft"></div>
    </div>
    <div class="cleft"></div>
    <script type="text/javascript">
        var order_by = 'latest';
        $('.order').click(function () {
            $('.order').removeClass('active');
            $(this).addClass('active');
            order_by = $(this).attr('data-order');
        });
    </script>
    <div class="cleft"></div>
    <div class="similarboxmain">
        <div class="similarbox">
            {%for anime in animes%}
            <a class="an" title="{{anime.name}}" href="/detail/{{anime.slug}}-{{anime.id_api}}">
                <div class="similarcmain">
                    <div class="similarc">
                        <div class="similarpic"
                            style="background-image: url({{anime.coverImage}});">
                            <img class="coveri hd"
                                src="{{anime.coverImage}}"
                                alt="{{anime.name}}">
                        </div>
                        <div class="similard">
                            <div class="similardd">{{anime.name}}</div>
                        </div>
                    </div>
                </div>
            </a>
            {%endfor%}
        </div>
    </div>
    <div class="cleft"></div>
    {%if page != totalPages%}
    <a class="morean" href="/{{path}}/{{next}}">
        <div class="more">Show More</div>
     </a>
    {%endif%}
    <div class="cleft"></div>
</div>
{%endblock%}

{% block ongoing%}
<div>
    <center style="background: #000;padding-top: 4px;">
        <script src="//s.dolphincdn.xyz/script.php?id=AD_ANIMEHEAVEN_300x250&amp;mob=false&amp;v=437932773"
            type="text/javascript"></script>
    </center>
</div>
<div class="randombox">
    <div class="c">
        <a class="an thum" href="/detail/{{onGoing.0.slug}}-{{onGoing.0.id_api}}"
            style="background-image: url({{onGoing.0.coverImage}})">
            <img class="coveri hd" src="{{onGoing.0.coverImage}}" alt="{{episode.name}}">
        </a>
    </div>
    <div class="rnd"><a href="/detail/{{onGoing.0.slug}}-{{onGoing.0.id_api}}">{{onGoing.0.0}}</a></div>

</div>
<div class="clearfix"></div>
<div class="ongoingbox">
    <div class="lisbox2">
        <div class="c">
            <div class="lisb"><a href="/ongoing">Ongoing anime</a></div>
        </div>

        {%for episode in onGoing%}
        <a class="an" href="/detail/{{episode.slug}}-{{episode.id_api}}">
            <div class="lis">{{episode.name}}</div>
        </a>
        {%endfor%}

    </div>
</div>
{% endblock %}