{% extends "base.html" %}

{%block title%}
{{ info.name }}
{%endblock%}
{% block infobox%}
<div class="infobox">
    <div class="infoboxc">
        <div class="infopicbox"><img class="posteri" src="{{ info.coverImage }}" alt="{{ info.name }}"></div>
        <div class="infodesbox">
            <div class="infodes">
                <h1 style="margin:0;padding:0;font-size:19px;">{{ info.name }}</h1>
            </div>
            <div class="infodes2">
                <p class="desc">{{ info.description }}</p>
            </div>
            <div class="infodes2">
                <div class="textd">Genres/Tags:</div>
                {% for genre in genres%}
                <div class="textc"> <a class="infoan" href="/genres/{{genre.id_genre}}" title="">{{genre.id_genre}}</a>,
                </div>
                {%endfor%}
                <div class="textd">Format:</div>
                <div class="textc">{{info.format}}</div>
                <div class="textd">Status:</div>
                <div class="textc">{{ info.status }}</div>
                <div class="textd">Episodes:</div>
                <div class="textc">?</div>
                <div class="textd">Year:</div>
                <div class="textc">{{info.start_date}} to {{info.end_date}}</div>
                <div class="textd">Score:</div>
                <div class="textc">{{info.averageScore}}</div>
                <div class="textd">Popularity:</div>
                <div class="textc">{{info.popularity}}</div>

            </div>
            <div class="cleft"></div>
            <div class="shares">
                <div class="textc">

                </div>
                <div class="textc">

                </div>
                <div class="textc">

                </div>
            </div>
        </div>
    </div>
    <div class="cleft"></div>
    <div class="cleft"></div>
    <div class="infoepboxmain">
        <div class="infoepbox">
            {%for episode in episodes%}
            <a class="infovan" title="Episode {{episode.episode}}"
                href="/watch/{{info.slug}}-{{info.id}}-{{episode.episode}}">
                <div class="infoepmain">
                    <div class="infoep">
                        <div class="infoept">
                            <div class="infoept1">
                                <div class="centerv">Episode</div>
                            </div>
                            <div class="infoept2">
                                <div class="centerv">{{episode.episodeDisplay}}</div>
                            </div>
                            <!--
                            <div class="infoept3">
                                <div class="centerv">{{episode.posted_time}}</div>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </a>
            {%endfor%}
        </div>
    </div>
    <div class="cleft"></div>
    <div class="similars">Similar Shows</div>
    <div class="similarboxmain">
        <div class="similarbox">
            {%for sim in similar%}
            <a class="an" title="{{sim.name}}" href="/detail/{{sim.slug}}-{{sim.id_api}}">
                <div class="similarcmain">
                    <div class="similarc">
                        <div class="similarpic"
                            style="background-image: url({{sim.coverImage}});">
                            <img class="coveri hd"
                                src="{{sim.coverImage}}"
                                alt="{{sim.name}}">
                        </div>
                        <div class="similard">
                            <div class="similardd">{{sim.name}}</div>
                        </div>
                    </div>
                </div>
            </a>
            {%endfor%}
        </div>
    </div>
</div>
{% endblock %}